.mat-form-field {
  width: 45%;
  text-align: center;
  margin: 1rem;
  background-color: #232323;

}

.mat-card,
.form-control:focus {
  background-color: #2a2a2a;
  color: white;
}

.form-control{
  background-color: #232323;
  color: white;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: white;
  }
  .mat-form-field-label {
    color: white;
  }
  .mat-form-field-underline {
    background-color: white !important;
  }
  .mat-form-field-ripple {
    background-color: white;
  }
  .mat-form-field-required-marker {
    color: white;
  }
}
::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: white;
  }
  .mat-form-field-ripple {
    background-color: white;
  }
  .mat-form-field-required-marker {
    color: white;
  }
  .mat-input-element {
    color: white;
  }
}

::ng-deep .mat-form-field-outline .mat-form-field-appearance-outline{
  color: #9f9f9f;
}
