<mat-toolbar class="justify-content-evenly bg-dark text-light">
  <span>Fatture e Clienti</span>

  <span *ngIf="(this.checkLogin$ | async) as checkLogin">
    <button
      #rla="routerLinkActive"
      mat-raised-button
      *ngIf="!checkLogin"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [color]="rla.isActive && 'primary'"
    >
      Home
    </button>
  </span>

  <span *ngIf="!(this.checkLogin$ | async) as checkLogin">
    <button
      #rla="routerLinkActive"
      mat-raised-button
      *ngIf="checkLogin"
      [routerLink]="['/login']"
      routerLinkActive="active"
      [color]="rla.isActive && 'primary'"
    >
      Login
    </button>
  </span>

  <button
    #rla="routerLinkActive"
    mat-raised-button
    [routerLink]="['/signup']"
    [color]="rla.isActive && 'primary'"
    routerLinkActive="active"
  >
    SignUp
  </button>
 <span *ngIf="(this.checkLogin$ | async) as checkLogin">
    <button
      #rla="routerLinkActive"
      mat-raised-button
      *ngIf="checkLogin"
      [routerLink]="['/clienti']"
      routerLinkActive="active"
      [color]="rla.isActive && 'primary'"
    >
      Clienti
    </button>
 </span>
  <span *ngIf="(this.checkLogin$ | async) as checkLogin">
    <button
      #rla="routerLinkActive"
      mat-raised-button
      *ngIf="checkLogin"
      [routerLink]="['/fatture']"
      routerLinkActive="active"
      [color]="rla.isActive && 'primary'"
    >
      Fatture
    </button>
  </span>
<span *ngIf="(this.checkLogin$ | async) as checkLogin">
    <button
      #rla="routerLinkActive"
      mat-raised-button
      *ngIf="checkLogin"
      [routerLink]="['/user']"
      routerLinkActive="active"
      [color]="rla.isActive && 'primary'"
    >
      Utenti
    </button>
</span>
<span *ngIf="(this.checkLogin$ | async) as checkLogin">
    <button
      mat-raised-button
      *ngIf="checkLogin"
      (click)="delete()"
    >
      Logout
    </button>
</span>
</mat-toolbar>
