@import "~bootstrap/scss/bootstrap";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(black,rgb(45, 45, 45)) ;
  background-size: auto;
background-attachment: fixed;
  background-repeat: no-repeat;
}

.mat-select-value {
  color: #f8f9fa !important;
}
